body{
    font-family: 'Arial';
}
#parent{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    margin: auto;
    padding: 2%;
}
#parent+h4{
    padding: 2%;
    font-size: large;
}
#side_panel{
    width: 40%;
    padding-bottom: 80px;
    margin-bottom: auto;
    align-self: first baseline;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#cartbtn{
    display: block;
    background-color: black;
    color: white;
    height: 50px;
    
}
#product_image{
    border: 1px,solid,grey;
    padding: 2px;
}
#description{
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    margin: 20px;

}
#description > img{
    height: 20px;
    width: 20px;
}