/* saperate */
#parent{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
   
}
#parent > div{
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
img{
    width: 100%;
}
#sort_drop{
    display: flex;
    justify-content: flex-end;
}

#mainbody{
    display: flex;
    justify-content: space-between;
    
}
#side_sec{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
#price_filter{
    width: 100%;
    height: 50px;
    font-size: 18px;
    color:rgb(86, 90, 92);
    border: rbg(86, 90, 92);
    padding: 10px;
    border: none;
    margin-bottom: 8px;
}
#demo_filter{
    width: 100%;
    height: 50px;
    font-size: 18px;
    color:rgb(86, 90, 92);
    border: rbg(86, 90, 92);
    padding: 10px;
    border: none;
    margin-bottom: 8px;
    }

    /* footer section css start here  */
    #footer{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 50px 0px 0px 100px;
        background-color: rgb(84,86,88);
        height: 300px;
        
    }
    #footer>div{
        /* border: 1px solid; */
        text-align: left;
         display: flex;
         flex-direction: column;
         gap: 20px;
        
    }
    #footer>div>h4{
        color: rgb(248,245,244) ;
        font-size: 14px;
        font-weight:700;
        font-family:"Times New Roman";
    
       
       
    }
    #footer>div>a{
        color: rgb(248,245,244)  ;
        text-decoration: none;
        font-size: 12px;
        font-family:"Times New Roman";
        font-weight:700;
    }
    
    #end{
        display: flex;
        justify-content: space-between;
        background-color: rgb(47,51,55);
        height: 100px;
        color: rgb(248,245,244)  ;
    }#endone{
        margin: 20px 0px 0px 150px;
    }
    #endone>p{
        font-family: "Times New Roman";
        font-size: 12px;
        font-weight: 400;
    }
    
    #endtwo{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 10px;
    }
    #endtwo>a{
        margin-top: 30px;
          text-decoration: none;
        color: rgb(248,245,244)  ;
        font-family: "Times New Roman";
        font-size: 12px;
        font-weight: 400;
    }
    #ind{
        height: 14px;
        width: 30px;
        align-content: center;
    }
    /* footer section css ends here  */