.slider {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  
  .slider-container {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .slide {
    width: 25%;
    flex-shrink: 0;
    background-color: #f5f5f5;
  }
  
  .slide img {
    width: 100%;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 30px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  } 
  .slide>img~div{
    padding: 0 25px 0 25px;
  }
  .slide>img~div h2{
    font-size:28px;
  }
  .slide>img~div p{
    font-size: 18px;
  }